<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>foodify</title>
        <style>

            html {
                font-family: Helvetica, Arial, sans-serif;
                width: 200px;
            }
            {{!-- #headingContainer{
                background: linear-gradient(rgba(255,255,255,.91), rgba(255,255,255,.91)), url('./backgroundImage.jpg');
                height: 100%;
                background-position: center;
                position: fixed;
                top: 0; 
                left: 0;
                right:0;
                bottom: 0;
            } --}}
            h1{
                text-align: center;
                font-size: 40px;
            }
            p {
                font-size: 18px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div id="headingContainer">
            <h1>👋 Hey there</h1>
            {{!-- <img src="backgroundImage.jpg" /> --}}
        </div>
        <p>It's great to have you join our mission to lessen food waste in the most delicious way possible!</p>
    </body>
</html>