html {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    font-family: degular, Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
}

body, 
#root{
    height: 100%;
    padding: 0;
    margin: 0;
}